body{
    background-color:#f2f4f8;
}

section{
    border: 2px solid red;
    width: 500px;
    height: 150px;
    margin-left: 600px;
    margin:auto;
    margin-top: 200px;
    background-color:#ffff;
    border: none;
    box-shadow: 5px 5px 5px #d4d6d9;
}

section p{
    text-align: center;
    padding-top: 25px;
    font-size: 26px;
}

section input{
    margin-left: 50px;
    width: 270px;
    height: 24px;
    border-radius: 3px 0px 0px 3px;
}

section button{
    width: 130px;
    height: 30px;
    margin-left: -5px;
    background-color:#645cff;
    color: #f5f7ff;
    border: none;
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

section div{
    display: flex;
    align-items: center;
}

main{
    margin-top: 60px;
}


.list2,
.list{
    width: 460px;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 0% auto;
    padding: 20px;
    justify-content: space-between;
    background-color: #ffff;
    box-shadow: 5px 5px 5px #d4d6d9;
}

.list2{
    margin-top: 20px;
}

.edit{
    background-image: url(./edit.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3px;
}

.delete{
    background-image: url(./delete.png);
    border: none;
    background-color: #ffff;
    cursor: pointer;
    margin-left: 3px;
}

.completedmark{
    background-image: url(./done.png); 
}

.edit,
.delete,
.completedmark{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}

footer{
    margin: auto;
    margin-left: 870px;
    margin-top: 100px;
    background-repeat: no-repeat;
}


.list h3,
.list2 h3{
    display: flex;
    align-items: center;
}

.list div,
.list2 div{
    display: flex;
    align-items: center
}



.task-complated h3 {
    text-decoration: line-through
}

.completedmark{
    visibility: hidden;
}
.task-complated .completedmark{
    visibility: visible;
}

#message {
    padding-left: 49px;
    display: none;
}

.error {
    display: block !important;
    color: red;
}

.success {
    color: green !important;
}