body{
    background-color:#f2f4f8;
}

section{
    border: 2px solid red;
    width: 500px;
    height: 380px;
    margin-left: 600px;
    margin:auto;
    margin-top: 100px;
    background-color:#ffff;
    border: none;
    box-shadow: 5px 5px 5px #d4d6d9;
}


.tittle h1{
    text-align: center;
    font-weight: unset;
    padding-top: 40px;
}

.taskid,
.name,
.completed{
    display: flex;
    
}

.taskid h3,
.name h3,
.completed h3{
    margin-left: 30px;
    margin-top: 21px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: normal;
}

.taskid p{
    font-size: 20px;
    margin-left: 105px;
}

.name p{
    border: 1px solid black;
    border-radius: 3px;
    background-color:#f2f4f8;
    width: 230px;
    height: 30px;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 140px;
    padding-left: 15px;
    padding-top: 7px;
    border: none;
    
}

.completed input{
    margin-top: 0px;
    margin-left: 85px;
}

.edit{
    width: 435px;
    height: 30px;
    background-color:#645cff;
    color: #f5f7ff;
    border: none;
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 30px;
}

.back button{
    width: 200px;
    height: 40px;
    background-color: black;
    display: block;
    margin: auto;
    margin-top: 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
}

.link{
    color: #ffff;
    text-decoration: none;
}

